<div class="post-box">
<%= link_to(post_path(post.id), {class: "post-link"}) do %>
    <div class="post-name">
      <%= post.user.nickname %>
    </div>
    <div class="post-date">
      <%= post.created_at.to_s(:datetime_jp) %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
    <%= image_tag post.image.variant(resize: '300x300'), class: '' if post.image.attached? %>
<% end %>
</div>