<div class="">
<%= link_to post_path(post.id) do %>
  <div class="">
    <div class="">
      <%= post.user.nickname %>
    </div>
    <div class="">
      <%= post.created_at.to_s(:datetime_jp) %>
    </div>
  </div>
  <div class="">
    <div class="">
      <%= post.content %>
    </div>
    <%= image_tag post.image.variant(resize: '300x300'), class: '' if post.image.attached? %>
  </div>
<% end %>
</div>