<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROTEIN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="quiz.js"></script>
  </head>

  <body>
  <header>
  <nav class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "Hello Protein", root_path, class: "nav-home" %>
      </li>
      <li class="nav-item">
        <%= link_to "Study", quizzes_path, class: "nav-item" %>
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Post", new_post_path, class: "nav-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-item" %>
      </li>
      <li class="nav-item">
        <%= link_to "Signup", new_user_registration_path, class: "nav-item" %>
      </li>
    <% end %>
    </ul>
  </nav>
  
  </header>

    <%= yield %>

  <footer class="container">
    <p> Enjoy Your Life with PROTEIN APP. TK </p>
  </footer>

  </body>
</html>
