<div class="container">
  <% if user_signed_in? %>
  <div class="title">
    <h2>My goal</h2>
    <% if @aim.present? %>
    <p><%= @aim.goal %></p>
    <% else %>
    <p>あなたの目標を設定しましょう</p>
    <% end%>
  </div>
  <div class="ingredient">
    <h2>Intakes for Today</h2>
    <div class="ingredient-wrapper">
      <div class="ingredient-protein">
        <p><%= "タンパク質：#{@protein.round(1)}/g" %></p>
        <% if @aim.present? %>
        <P><%= "目標：#{@aim.protein}g/日" %></p>
        <% else %>
        <P><%= "目標：_未設定_" %></p>
        <% end %>
      </div>

      <div class="ingredient-calorie">
        <p><%= "カロリー：#{@calorie.round(1)}/kcal" %></p>
        <div class="need-calorie">
        <% if @aim.present? %>
        <P><%= "必要量：#{@aim.calorie}kcal/日" %></p>
        <% else %>
        <P><%= "必要量：_未設定_" %></p>
        <% end %>
        </div>
      </div>
      <div class="button">
        <%= link_to("Add Intakes", new_management_path, {class: "btn btn--yellow btn--cubic"}) %>
        <% if @management.present? %>
        <%= link_to("Detail", management_path(@management.ids), {class: "btn btn--yellow btn--cubic"}) %>
        <% end %>
        <% if @aim.present? %>
          <%= link_to("Edit Goal", edit_aim_path(@aim), {class: "btn btn--yellow btn--cubic"}) %>
        <% else %>
          <%= link_to("Add Goal", new_aim_path, {class: "btn btn--yellow btn--cubic"}) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="post">
    <h2>Our posts</h2>
    <div class="post-wrapper">
      <%= render partial: 'posts/post', collection: @posts%>
    </div>
  </div>
  <% else %>
    <h2>タンパク質で元気な体を作ろう</h2>
    <p>Please signup or Login</p>
  <% end %>
</div>